<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
    <section class="center-container">
        <div class="centered-content">
            <span class="labeled-control">
                <label>Username:</label>
                <input type="text" value="" placeholder="Username">
            </span>
            <span class="labeled-control">
                <label>Password:</label>
                <input type="password" value="" placeholder="Password">
            </span>
            <input type="button" value="Login">
        </div>
    </section>
    <script type="text/javascript" src="js/login.js"></script>
</body>
</html>